body {
  font-size: 15px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 465px !important;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 600px;
}

#svgWarn {
  display: none;
  padding: 10px;
  text-align: center;
  background-color: #faa; }

#calculating {
  font-size: 0.72em;
  position: absolute;
  width: 100%;
  top: 50px;
  left: 0px;
  text-align: center;
  z-index: 10; }
  #calculating span {
    padding: 3px;
    background-color: yellow; }

#results {
  overflow: hidden; }

#snippets {
  display: none;
}
