.conversions_and_ghg {
  text-align: left;
  padding: 0;
  border: 0;
  margin: 0;
  margin-left: 2.5%;
  font-size: 12px;
  width: 30%;
  margin-bottom: 30px;
  float: left; }

  #conversions_and_ghg {
      margin-top: 30px;
  }
  
  #conversions_and_ghg .clear {
      clear: both;
  }
