.industry {
  text-align: left;
  padding: 0;
  border: 0;
  margin: 0;
  margin-left: 2.5%;
  font-size: 12px;
  width: 30%;
  margin-bottom: 30px;
  float: left; }

  #industry {
      margin-top: 30px;
  }

  #industry .clear {
      clear: both;
  }


    path.Total-Direct {
      /*path needs to be selected, otherwise the stroke settings are also applied for the text label*/
      fill: none;
      stroke: black;
      stroke-width: 2;
    }
  .Ferrous-non-ferrous-metals { fill: var(--c_blue_m);}
  .Cement-Ceramics-Glass { fill: var(--c_green_d);}
  .Chemicals { fill: var(--c_purple);}
  .Other-Industry { fill: var(--c_brown_m);}
  .Indirect-emissions { fill: silver;}



    path.Total {
      /*path needs to be selected, otherwise the stroke settings are also applied for the text label*/
      fill: none;
      stroke: black;
      stroke-width: 2;
    }
  .Electricity { fill: var(--c_yellow);}
  .Hydrogen { fill: var(--c_purple);}
  .Bioenergy { fill: var(--c_brown_m);}
  .Natural-gas-i { fill: var(--c_grey_l);}
  .Oil { fill: var(--c_grey_m);}
  .Coal { fill: var(--c_grey_d);}
