.overview {
  text-align: left;
  padding: 0;
  border: 0;
  margin: 0;
  margin-left: 0.5%;
  font-size: 12px;
  width: 100%;
  margin-bottom: 30px;
  float: left;
}

  #overview {
      margin-top: 30px;
  }

  #overview .clear {
     clear: both;
  }


  /*Overriding stacked-area charts colors example
    twelve possible graphs,
    first: q0-q12 last: q11-12
    default colors in colorbrewer.css
  */

  path.Total-Emissions {
    /*path needs to be selected, otherwise the stroke settings are also applied for the text label*/
    fill: none;
    stroke: black;
    stroke-width: 2;
  }
  .Dedicated-GHG-Removal { fill:orange; }
  .Electricity-Generation { fill:gold; }
  .Hydrogen-Production { fill:purple; }
  .Other-Energy-Supply { fill:#ABBFC5; }
  .Waste-Management { fill:#48711B; }
  .Agriculture-Land-Use { fill:#ABBFC5; }
  .Buildings-Residential { fill:#55565A; }
  .Buildings-Non-Residential { fill:#978463; }
  .Transport-Domestic { fill:#61553F; }
  .Transport-International { fill:#0099cc; }
  .Carbon-Budgets { fill:#003366; }

  /*
  #overview #view1 #top_container_1 .Paired .q0-12 { fill:orange; }
  #overview #view1 #top_container_1 .Paired .q1-12 { fill:gold; }
  #overview #view1 #top_container_1 .Paired .q2-12 { fill:purple; }
  #overview #view1 #top_container_1 .Paired .q3-12 { fill:#ABBFC5; }
  #overview #view1 #top_container_1 .Paired .q4-12 { fill:#48711B; }
  #overview #view1 #top_container_1 .Paired .q5-12 { fill:#ABBFC5; }
  #overview #view1 #top_container_1 .Paired .q6-12 { fill:#55565A; }
  #overview #view1 #top_container_1 .Paired .q7-12 { fill:#978463; }
  #overview #view1 #top_container_1 .Paired .q8-12 { fill:#61553F; }
  #overview #view1 #top_container_1 .Paired .q9-12 { fill:#0099cc; }

  #overview #view1 #top_container_1 .Paired .q10-12 { fill:#003366; }
  #overview #view1 #top_container_1 .Paired .total { fill:black; }*/

  #overview #view2 #top_container_2 .Paired .q0-12 { fill:red; }





svg {
  overflow: visible; }

/* organisation of charts */
.chart {
  padding: 0;
/*  border: 2px solid lightgrey;*/
/*  margin: 25px;*/
/*  margin: 0;
  margin-left: 2.4%; */
  width: 100%; /* 30% for horizontal stacking */
/*  margin-bottom: 0px;*/
/*float: left; /* comment out for vertical stacking*/ }

.chart rect.backgroundrect {
  fill: #fff; }

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges; }

.charttitle {
  text-anchor: middle;
  font-size: 1.3em; }

#unzoom {
  text-anchor: middle;
  font-size: 1.3em;
  text-decoration: underline;
  fill: #00f;
  cursor: pointer; }

text.target {
  text-anchor: middle;
  font-size: 1em; }

g.drawing {
  pointer-events: all; }

.axis path, .axis line {
  fill: none;
  stroke: #000;
  stroke-width: 1px; }

.axis text {
  font-size: 1em;
  fill: #000; }

.axislabel {
  text-anchor: end;
  font-size: 1em; }

.line {
  fill: none;
  stroke: black;
  stroke-width: 3px; }

.linelabel {
  font-size: 1em;
  cursor: default; }

.area {
  fill-opacity: 1; }

path.total {
  stroke: black;
  stroke-width: 2px;
  fill: none; }

text.seriesValue {
  font-size: 1em;
  text-anchor: middle; }

path.total.hover {
  stroke-width: 3px; }

path.hover {
  stroke: black;
  stroke-width: 1px; }

.linelabel.hover {
  fill: black !important;
  font-weight: bold; }

.labelbackground {
  fill: white; }

g.context path {
  fill: grey;
  fill-opacity: 0.02; }

g.targetlabel text {
  font-size: 1em;
}

g.targetlabel line {
  stroke: #ccc;
  stroke-thickness: 1;
}

tr.primary_energy_notes {
  display: none;
}
