.overview {
  text-align: left;
  padding: 0;
  border: 0;
  margin: 0;
  margin-left: 0.5%;
  font-size: 12px;
  width: 100%;
  margin-bottom: 30px;
  float: left;
}

  #overview {
      margin-top: 30px;
  }

  #overview .clear {
     clear: both;
  }


  /*Overriding stacked-area charts colors example
    twelve possible graphs,
    first: q0-q12 last: q11-12
    default colors in colorbrewer.css
  */

  :root {

    --c_blue_l: #7f7fff;
    --c_blue_m: #0000b2;
    --c_blue_d: #00007f;

    --c_green_l: #00e500;
    --c_green_m: #009900;
    --c_green_d: #004c00;

    --c_grey_l: #808080;
    --c_grey_m: #666666;
    --c_grey_d: #4c4c4c;

    --c_brown_l: #942525;
    --c_brown_m: #731d1d;
    --c_brown_d: #521515;

    --c_red_l: #e50000;
    --c_red_m: #990000;
    --c_red_d: #660000;

    --c_purple_l: #993299;
    --c_purple: #730073;
    --c_purple_d:#590059;

    --c_orange: #ffa500;
    --c_yellow: #cccc00;
  }

  path.Total-Emissions {
    /*path needs to be selected, otherwise the stroke settings are also applied for the text label*/
    fill: none;
    stroke: black;
    stroke-width: 2;
  }
  .Dedicated-GHG-Removal { fill:var(--c_orange); }
  .Electricity-Generation { fill:var(--c_yellow); }
  .Hydrogen-Production { fill:var(--c_purple); }
  .Other-Energy-Supply { fill:var(--c_grey_l); }
  .Waste-Management { fill:var(--c_green_d); }
  .Agriculture-Land-Use { fill:var(--c_green_l); }
  .Industry { fill:var(--c_grey_d); }
  .Buildings-Residential { fill:var(--c_brown_l); }
  .Buildings-Non-Residential { fill:var(--c_brown_d); }
  .Transport-Domestic { fill:var(--c_blue_l); }
  .Transport-International { fill:var(--c_blue_d); }
  /*.Carbon-Budgets { fill:#003366; }*/

  path.Total {
    /*path needs to be selected, otherwise the stroke settings are also applied for the text label*/
    fill: none;
    stroke: black;
    stroke-width: 2;
  }
  .Coal { fill: var(--c_grey_d);}
  .Oil { fill: var(--c_grey_m);}
  .Natural-gas { fill: var(--c_grey_l);}
  .Waste { fill: var(--c_brown_d);}
  .Bioenergy { fill: var(--c_brown_m);}
  .Hydrogen-imports { fill: var(--c_purple);}
  .Electricity-imports { fill: var(--c_yellow);}
  .Nuclear { fill: var(--c_orange);}
  .Environmental-heat { fill: var(--c_red_m);}
  .Wind { fill: var(--c_green_l);}
  .Solar { fill: var(--c_green_m);}
  .Tidal-Wave-Hydro { fill: var(--c_green_d);}

  .Dedicated-GHG-Removal { fill: var(--c_red_m);}
  .Agriculture { fill: var(--c_green_m);}
  .Industry { fill: var(--c_grey_d);}
  .Buildings-Residential { fill: var(--c_brown_l);}
  .Buildings-Non-Residential { fill: var(--c_brown_d);}
  .Transport-Domestic { fill: var(--c_blue_l);}
  .Transport-International { fill: var(--c_blue_d);}



  /*
  #overview #view1 #top_container_1 .Paired .q0-12 { fill:orange; }
  #overview #view1 #top_container_1 .Paired .q1-12 { fill:gold; }
  #overview #view1 #top_container_1 .Paired .q2-12 { fill:var(--c_purple); }
  #overview #view1 #top_container_1 .Paired .q3-12 { fill:#ABBFC5; }
  #overview #view1 #top_container_1 .Paired .q4-12 { fill:#48711B; }
  #overview #view1 #top_container_1 .Paired .q5-12 { fill:#ABBFC5; }
  #overview #view1 #top_container_1 .Paired .q6-12 { fill:#55565A; }
  #overview #view1 #top_container_1 .Paired .q7-12 { fill:#978463; }
  #overview #view1 #top_container_1 .Paired .q8-12 { fill:#61553F; }
  #overview #view1 #top_container_1 .Paired .q9-12 { fill:#0099cc; }

  #overview #view1 #top_container_1 .Paired .q10-12 { fill:#003366; }
  #overview #view1 #top_container_1 .Paired .total { fill:black; }*/

  #overview #view2 #top_container_2 .Paired .q0-12 { fill:black; }
  #overview #view2 #top_container_2 .Paired .q1-12 { fill:var(--c_blue_m); }
  #overview #view2 #top_container_2 .Paired .q2-12 { fill:var(--c_blue_d); }





svg {
  overflow: visible; }

/* organisation of charts */
.chart {
  padding: 0;
/*  border: 2px solid lightgrey;*/
/*  margin: 25px;*/
/*  margin: 0;
  margin-left: 2.4%; */
  width: 100%; /* 30% for horizontal stacking */
/*  margin-bottom: 0px;*/
/*float: left; /* comment out for vertical stacking*/ }

.chart rect.backgroundrect {
  fill: #fff; }

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges; }

.charttitle {
  text-anchor: middle;
  font-size: 1.3em; }

#unzoom {
  text-anchor: middle;
  font-size: 1.3em;
  text-decoration: underline;
  fill: #00f;
  cursor: pointer; }

text.target {
  text-anchor: middle;
  font-size: 1em; }

g.drawing {
  pointer-events: all; }

.axis path, .axis line {
  fill: none;
  stroke: #000;
  stroke-width: 1px; }

.axis text {
  font-size: 1em;
  fill: #000; }

.axislabel {
  text-anchor: end;
  font-size: 1em; }

.line {
  fill: none;
  stroke: black;
  stroke-width: 3px; }

.linelabel {
  font-size: 1em;
  cursor: default; }

.area {
  fill-opacity: 1; }

path.total {
  stroke: black;
  stroke-width: 2px;
  fill: none; }

text.seriesValue {
  font-size: 1em;
  text-anchor: middle; }

path.total.hover {
  stroke-width: 3px; }

path.hover {
  stroke: black;
  stroke-width: 1px; }

.linelabel.hover {
  fill: black !important;
  font-weight: bold; }

.labelbackground {
  fill: white; }

g.context path {
  fill: grey;
  fill-opacity: 0.02; }

g.targetlabel text {
  font-size: 1em;
}

g.targetlabel line {
  stroke: #ccc;
  stroke-thickness: 1;
}

tr.primary_energy_notes {
  display: none;
}
