.topbar {
  text-decoration: none;
  font-weight: bold;
  position:fixed;
  z-index: 101;
  margin-left: -465px;
  height:35px;
  overflow: hidden;
  width: 100%;
  background-color: #003366;
  color: white;
  padding-top: 10px;
  padding-bottom: 5px;
}

.topbar .selectedView {
  color: #ccd6e0; }
.topbar a:hover {
  text-decoration: underline; }

  .topbar #name {
    margin-left: 5px;
 }

 .topbar #views {
   margin: 0 50px;
   text-align: right; }
   .topbar #views a {
     padding-right: 10px; }

.topbar a {
    color: white;
    text-decoration: none; }

#name {
  width: 465px;
  height: 25px;
  float: left;
  color: white;
  text-decoration: none;

}

#menu_dd {
  width: 25px;
  height: 25px;
  float: right;

}

#views {
  height: 25px;
  width: auto;
}

#views a{
  float: left;
  height: 25px;
}

.dropdown {
    position:fixed;
    top:11px;
    right:10px;
    z-index:200;
    color:white;
    display: inline-block;
}

.dropdown-content {
    font-weight: bolder;
    display: none;
    position: absolute;
    margin-top: 1px;
    right: 1px;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover {color: black;}


#topbar_dd {
  visibility: hidden;
}

#bars {
  width: 15px;
}

#bars path {
  fill: white;
}

#bars:hover path {
      fill: #b2c1d1;
}

#dd8, #dd7, #dd6, #dd5, #dd4, #dd3, #dd2, #dd1 {
  /*visibility: hidden*/
  display: none;

}
/*
@media only screen and (max-width: 1413px) {
   #topbar_dd {visibility: visible;}
   #dd8 {display: inline;}
}

@media only screen and (max-width: 1413px) {#dd7 {display: inline;}}
@media only screen and (max-width: 1262px) {#dd6 {display: inline;}}
@media only screen and (max-width: 1107px) {#dd5 {display: inline;}}
@media only screen and (max-width: 956px) {#dd4 {display: inline;}}
@media only screen and (max-width: 805px) {#dd3 {display: inline;}}
@media only screen and (max-width: 654px) {#dd2 {display: inline;}}
@media only screen and (max-width: 503px) {#dd1 {display: inline;}}
*/

@media only screen and (max-width: 1560px) {
   #topbar_dd {visibility: visible;}
   #dd8 {display: inline;}
}

@media only screen and (max-width: 1384px) {#dd7 {display: inline;}}
@media only screen and (max-width: 1211px) {#dd6 {display: inline;}}
@media only screen and (max-width: 1069px) {#dd5 {display: inline;}}
@media only screen and (max-width: 854px) {#dd4 {display: inline;}}
@media only screen and (max-width: 779px) {#dd3 {display: inline;}}
@media only screen and (max-width: 695px) {#dd2 {display: inline;}}
@media only screen and (max-width: 613px) {#dd1 {display: inline;}}
