.transport {
  text-align: left;
  padding: 0;
  border: 0;
  margin: 0;
  margin-left: 2.5%;
  font-size: 12px;
  width: 30%;
  margin-bottom: 30px;
  float: left; }

  #transport {
      margin-top: 30px;
  }

  #transport .clear {
      clear: both;
  }



    path.Total-Direct {
      /*path needs to be selected, otherwise the stroke settings are also applied for the text label*/
      fill: none;
      stroke: black;
      stroke-width: 2;
    }
    .Car { fill:var(--c_yellow); }
    .Bus { fill:var(--c_orange); }
    .Light-Goods-Vehicles { fill:var(--c_brown_l); }
    .Heavy-Goods-Vehicles { fill:var(--c_brown_d); }
    .Rail { fill:var(--c_red_m); }
    .Shipping-Domestic { fill:var(--c_grey_l); }
    .Aviation-Domestic { fill:var(--c_grey_m); }
    .Shipping-International { fill:var(--c_blue_l); }
    .Aviation-International { fill:var(--c_blue_d); }
    .Indirect-emissions { fill:silver; }

    path.Total-Direct {
      /*path needs to be selected, otherwise the stroke settings are also applied for the text label*/
      fill: none;
      stroke: black;
      stroke-width: 2;
    }
    .Electricity  { fill:var(--c_yellow); }
    .Hydrogen  { fill:var(--c_purble); }
    .Biofuel { fill:var(--c_brown_m); }
    .Oil { fill:var(--c_grey_m); }

    path.Total-Domestic {
      /*path needs to be selected, otherwise the stroke settings are also applied for the text label*/
      fill: none;
      stroke: black;
      stroke-width: 2;
    }
    .Walking { fill:var(--c_grey_l); }
    .Cycling { fill:var(--c_green_d); }
    .Rail { fill:var(--c_red_m); }
    .Bus { fill:var(--c_orange); }
    .Car { fill:var(--c_yellow); }
    .Aviation-Domestic { fill:var(--c_grey_m); }
    .Aviation-International { fill:var(--c_blue_d); }

    path.Total {
      /*path needs to be selected, otherwise the stroke settings are also applied for the text label*/
      fill: none;
      stroke: black;
      stroke-width: 2;
    }
    .Hydrogen { fill:var(--c_purple); }
    .Electric { fill:var(--c_yellow); }
    .Plug-in-Hybrid-Electric { fill:var(--c_brown_d); }
    .Internal-Combustion-Engine { fill:var(--c_grey_m); }
